In [ ]:
# Import necessary libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Step 1: Load CSV files into DataFrames

In [2]:
df_content = pd.read_csv("C:/Users/Omkar/Downloads/Content.csv")

In [3]:
df_reaction = pd.read_csv("C:/Users/Omkar/Downloads/Reactions.csv")

In [4]:
df_reactionTypes = pd.read_csv("C:/Users/Omkar/Downloads/ReactionTypes.csv")

# Step 2: Explore df_content DataFrame

In [ ]:
# Display the first few rows of df_content
df_content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [ ]:
#Get the shape of df_content (rows, columns)
df_content.shape

(1000, 6)

In [ ]:
# There are total 1000 rows and 6 columns in content dataset

In [ ]:
# Display data types and null values in df_content
df_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [ ]:
# The URL column contains missing values (199 missing out of 1000).
# The Unnamed: 0 column likely serves as an index or redundant identifier.
# int64: 1 column (Unnamed: 0)
# object: 5 columns (Content ID, User ID, Type, Category, and URL).

# Step 3: Clean df_content

In [ ]:
# Rename column 'Type' to 'Content Type'
df_content = df_content.rename(columns = {"Type" : "Content Type"})

In [ ]:
# Count missing values in each column
df_content.isnull().sum()

Unnamed: 0        0
Content ID        0
User ID           0
Content Type      0
Category          0
URL             199
dtype: int64

In [10]:
(df_content.isnull().sum()/df_content.shape[0]) * 100

Unnamed: 0       0.0
Content ID       0.0
User ID          0.0
Content Type     0.0
Category         0.0
URL             19.9
dtype: float64

In [ ]:
# There are around 20% missing values in the URL column and it is likely not relevant for our analysis so we will drop this column

In [ ]:
# Drop 'URL' column
df_content = df_content.drop("URL", axis = 1)

In [ ]:
# Drop 'Unnamed: 0' column {Irrelevant column} 
df_content = df_content.drop("Unnamed: 0", axis = 1)

In [ ]:
# Drop 'User ID' column {Irrelevant column}
df_content = df_content.drop("User ID", axis = 1)

In [14]:
df_content.head()

                             Content ID Content Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f        photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6        photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180        video            food

In [ ]:
# Check for duplicated rows
df_content.duplicated().sum()

0

In [ ]:
# There are no duplicates in the content dataset

In [ ]:
# Count occurrences of each content type
df_content["Content Type"].value_counts().sort_index()

Content Type
GIF      244
audio    236
photo    261
video    259
Name: count, dtype: int64

In [ ]:
# Count occurrences of each category
df_content["Category"].value_counts().sort_index()

Category
"animals"             1
"cooking"             1
"culture"             3
"dogs"                2
"food"                1
"public speaking"     1
"science"             1
"soccer"              3
"studying"            1
"technology"          1
"tennis"              1
"veganism"            1
Animals               4
Culture               1
Education             2
Fitness               5
Food                  2
Healthy Eating        1
Public Speaking       1
Science               4
Soccer                3
Studying              2
Technology            1
Travel                2
Veganism              1
animals              67
cooking              60
culture              63
dogs                 56
education            57
fitness              61
food                 61
healthy eating       61
public speaking      48
science              63
soccer               58
studying             55
technology           71
tennis               58
travel               67
veganism             48
Name: count, dtype: int64

In [ ]:
# The "Category" column exhibits inconsistencies: some category names are enclosed in double quotes (e.g., "animals", "cooking"), 
# while others are not (e.g., Animals, Food), and there are repeated categories with different 
# capitalization (e.g., "Animals" vs. "animals", "Science" vs. "science"), which can cause issues in analysis.

In [ ]:
# Clean category names
df_content['Category'] = df_content['Category'].apply(lambda x: x.replace('"', '').strip().lower())

In [ ]:
# Display cleaned categories
df_content["Category"].value_counts().sort_index()

Category
animals            72
cooking            61
culture            67
dogs               58
education          59
fitness            66
food               64
healthy eating     62
public speaking    50
science            68
soccer             64
studying           58
technology         73
tennis             59
travel             69
veganism           50
Name: count, dtype: int64

# Step 4: Explore df_reaction DataFrame

In [ ]:
# Display the first few rows of df_reaction
df_reaction.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [ ]:
# Get the shape of df_reaction
df_reaction.shape

(25553, 5)

In [ ]:
# There are around 25,553 rows and 5 columns in the reaction dataset

In [ ]:
# Display data types and null values in df_reaction
df_reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

In [ ]:
# The User ID and Type column contains missing values.
# The Unnamed: 0 column likely serves as an index or redundant identifier.
# int64: 1 column (Unnamed: 0)
# object: 4 columns (Content ID, User ID, Type, Datetime).

# Step 5: Clean df_reaction

In [ ]:
# Rename 'Type' to 'Reaction Type'
df_reaction = df_reaction.rename(columns = {"Type" : "Reaction Type"})

In [ ]:
# Convert 'Datetime' column data type to datetime data type
df_reaction["Datetime"] = pd.to_datetime(df_reaction["Datetime"])

In [25]:
df_reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     25553 non-null  int64
 1   Content ID     25553 non-null  object
 2   User ID        22534 non-null  object
 3   Reaction Type  24573 non-null  object
 4   Datetime       25553 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 998.3+ KB

In [ ]:
# Drop 'Unnamed: 0' column as it is not required
df_reaction = df_reaction.drop("Unnamed: 0", axis = 1)

In [ ]:
# Drop 'User ID' column as it is not required
df_reaction = df_reaction.drop("User ID", axis = 1)

In [ ]:
# Count missing values
df_reaction.isnull().sum()

Content ID         0
Reaction Type    980
Datetime           0
dtype: int64

In [29]:
(df_reaction.isnull().sum()/df_reaction.shape[0]) * 100

Content ID       0.000000
Reaction Type    3.835166
Datetime         0.000000
dtype: float64

In [ ]:
# There are around 3.8% missing values in the 'Reaction Type' column
# Drop missing values

In [30]:
df_reaction = df_reaction.dropna()

In [31]:
df_reaction.isnull().sum()

Content ID       0
Reaction Type    0
Datetime         0
dtype: int64

In [ ]:
# Check for duplicated rows
df_reaction.duplicated().sum()

0

In [ ]:
# There are no duplicated rows

In [ ]:
# Count occurrences of each reaction type
df_reaction["Reaction Type"].value_counts().sort_index()

Reaction Type
adore          1548
cherish        1501
disgust        1526
dislike        1548
hate           1552
heart          1622
indifferent    1512
interested     1549
intrigued      1475
like           1520
love           1534
peeking        1559
scared         1572
super love     1519
want           1539
worried        1497
Name: count, dtype: int64

# Step 6: Explore df_reactionTypes DataFrame

In [ ]:
# Display the first few rows of df_reactionTypes
df_reactionTypes.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [ ]:
# Get the shape of df_reactionTypes
df_reactionTypes.shape

(16, 4)

In [ ]:
# There are 16 rows and 4 columns in the reaction types dataset

In [ ]:
# Display data types and null values in df_reactionTypes
df_reactionTypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes

In [ ]:
# The Unnamed: 0 column likely serves as an index or redundant identifier.
# int64: 1 column (Unnamed: 0)
# object: 3 columns (Type, Sentiment, Score).

# Step 7: Clean df_reactionTypes

In [ ]:
# Drop 'Unnamed: 0' column as it is not required
df_reactionTypes = df_reactionTypes.drop("Unnamed: 0", axis = 1)

In [ ]:
# Rename 'Type' to 'Reaction Type'
df_reactionTypes = df_reactionTypes.rename(columns = {"Type" : "Reaction Type"})

In [39]:
df_reactionTypes.head()

  Reaction Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30

In [ ]:
# Count missing values
df_reactionTypes.isnull().sum()

Reaction Type    0
Sentiment        0
Score            0
dtype: int64

In [ ]:
# There are no missing values in the 'Reaction Type' Dataset

In [ ]:
# Check for duplicated rows
df_reactionTypes.duplicated().sum()

0

In [ ]:
# There are no duplicated rows in the 'Reaction Type' Dataset

In [ ]:
# Count occurrences of each reaction type
df_reactionTypes["Reaction Type"].value_counts().sort_index()

Reaction Type
adore          1
cherish        1
disgust        1
dislike        1
hate           1
heart          1
indifferent    1
interested     1
intrigued      1
like           1
love           1
peeking        1
scared         1
super love     1
want           1
worried        1
Name: count, dtype: int64

In [ ]:
# Count occurrences of each sentiment
df_reactionTypes["Sentiment"].value_counts().sort_index()

Sentiment
negative    5
neutral     2
positive    9
Name: count, dtype: int64

# Step 8: Merge the three DataFrames (df_reaction, df_content, df_reactionTypes)

In [ ]:
# Merge reactions with content data
df_merged = pd.merge(df_reaction, df_content, on = "Content ID", how = "left")

In [ ]:
# Merge reaction types with the merged DataFrame
Final_merge = pd.merge(df_merged, df_reactionTypes, on = "Reaction Type", how = "left")

In [53]:
Final_merge.head()

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying,positive,30

# Step 9: Analyze the performance by category

In [ ]:
# Group by category and sum scores
Performing_categories = Final_merge.groupby("Category")["Score"].sum()

In [ ]:
# Get the top 5 categories with the highest score
Top_5_Categories = Performing_categories.sort_values(ascending = False).head(5)

In [60]:
Top_5_Categories

Category
animals           74965
science           71168
healthy eating    69339
technology        68738
food              66676
Name: Score, dtype: int64

# Step 10: Export the results to Excel

In [62]:
with pd.ExcelWriter('C:/Users/Omkar/Downloads/Final_Result.xlsx') as writer:
    # Write the cleaned dataset to the first sheet
    Final_merge.to_excel(writer, sheet_name='Cleaned Dataset', index=False)
    
    # Write the Top 5 categories to the second sheet
    Top_5_Categories.to_frame().reset_index().to_excel(writer, sheet_name='Top 5 Categories', index=False)